div {  
    background-color: darkolivegreen;
    text-decoration: lemonchiffon;
    text-align: center;
 }
 body {
    background-image: url("https://c1.staticflickr.com/5/4873/46815787751_7103371414_c.jpg");
  }